.clearfix::after{content: '';display: block;clear: both;}
*{margin: 0px; padding: 0px;}
body{background:#efefef;margin: 0px;}
a{ text-decoration: none;}
ol{list-style: none;}
li{list-style: none;}
ul{list-style: none;}
h3{margin-block-start: auto; margin-block-end: auto;font-size: 14px;line-height: 1.1;padding-right: 40px;}
.topNavBarLayout{position: fixed;left: 0px;top: 0px;width: 100%;position: fixed;z-index: 1;}
.topNavBar{padding-top: 20px;padding-bottom: 22px;color:#b7b7b7;transition:all 1s;}
.topNavBar.Scroll{padding-top: 15px;padding-bottom: 0px;background: #efefef;box-shadow:0 0 15px rgba(0, 0, 0, 0.5);color: #3d4451;}
#topNavBar .logo{font-size: 24px;font-family: Arial Black;text-decoration: none;padding: 3px 16px 4px 16px;}
#topNavBar .logo .RS{color: #e6686a;}
#topNavBar .logo .card{margin-left: 10px;color:#9a9da2;}
#topNavBar nav{float:right;padding-top:4px;padding-bottom:4px;}
#topNavBar nav>a{float:left}
#topNavBar nav>ul{margin: 0 ;padding: 0;list-style-type:none;}
#topNavBar nav>ul>li {float:left; margin:0px 15px 0px 15px;font-weight: bold;}
#topNavBar nav>ul>li>a {font-size: 12px;color:inherit;text-decoration: none;display: block;border: 3px solid transparent;padding-top: 5px;padding-bottom: 5px;position: relative;}
#topNavBar nav>ul>li>a:hover::after{content: '';display: ruby;position: absolute;
    background: #e06567;width: 100%;height: 3px;left: 0;top: 100%;animation: menuSlide 0.5s;}
@keyframes menuSlide{0%{width: 0;}100%{width: 100%;}}
.topNavBar .submenu{display: none;}
.topNavBar .submenu.active{display: block;position:absolute;background:inherit;animation: submenuSlide 0.3s}
.banner {background-image:url(./img/rs-cover.jpg);height: 515px;background-position: center center;}
.banner-mask {height: 515px;background-color: rgba(0, 0, 0, 0.75);}
.namecard {margin-left: auto;margin-right: auto;max-width: 950px;background: white;margin-top: -225px;box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);}
.namecard .pictureANDtext{max-width: 950px;padding: 50px}
.namecard .profile {margin-left: 65px}
.namecard .头像 {width: 300px;height: 350px;float: left;}
.namecard .text{float: left;}
.namecard .text .welcome{background-color: #e6686a;padding: 4px 16px;display: inline-block;position: relative;}
.namecard .text .triangle{border: 5px solid #e6686a;width: 0px;border-right-color: transparent;border-bottom-color: transparent;margin-left: 5px;position: absolute;}
.namecard .text .profile{width: 470px;}
.namecard .text .profile h1{color: black}
.namecard .text .profile hr{height: 0px;border: none;border-top:  1px solid #DEDEDE;}
body >main .text .profile dl >dt{display: inline-block;width: 30%;font-weight: bold;color: black;padding: 5px 0px;}
body >main .text .profile dl >dd{display: inline-block;width: 70%;margin: 0px;}
main .namecard footer{background: #e6686a;}
.namecard .media{text-align: center;}
.namecard .media >a{display: inline-block;border-radius: 50%;width: 40px;height: 30px;padding: 5px 0px;margin: 15px 15px;}
.namecard .media >a:hover{background: #cf5d5f;}
.namecard svg{width: 30px;height: 30px;fill: white;vertical-align: top;}
body >main .buttom{text-align: center;    }
body >main .buttom-text {font-size: 14px;line-height: 16px;padding: 21px 55px;border: 1px solid #cdcfd1;background: #efefef;display: inline-block;border-radius: 4px;color: #3d4451;font-weight: bold;margin: 35px;}
body >main .buttom-text:hover {box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.2);transition: 0.3s;}
body >main .selfIntroduction {margin-left: auto;margin-right: auto;max-width: 950px;text-align: center;font-size: 18px;line-height: 1.8;font-family: cursive;}
body >section .skills{text-align: center;margin-left: auto;margin-right: auto;max-width: 950px;margin-top: 70px;}
body >section .skills >ol{box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);padding-inline-start: 0px;padding: 42px 50px 10px 50px;background: white;margin-top: 40px;}
body >section .skills >h2,
body >section .portfolio >h2{color: #3d4451;font-size: 34px;line-height: 1.2;font-weight: 600;margin-block-start: 0px;margin-block-end: 0px;}
body >section .skills >ol >li{width: 48%;float: left;box-sizing: border-box;padding-right: 10px;    }
body >section .skills >ol >li:nth-child(even){float:right;}
body >section .skills >ol .progressBar{background: #fae1e1;border-radius: 2px;margin: 4px 0px 40px 0px;    }
body >section .skills >ol .progressBar .progress1,
body >section .skills >ol .progressBar .progress2,
body >section .skills >ol .progressBar .progress3,
body >section .skills >ol .progressBar .progress4,
body >section .skills >ol .progressBar .progress5,
body >section .skills >ol .progressBar .progress6{background: #e6686a;height: 5px;border-radius: 2px;}
body >section .portfolio{text-align: center;margin-bottom: 100px;margin-left: auto   ;margin-right: auto;max-width: 950px;}
body >section .portfolioNav{display: inline-block;}
body >section .portfolioNav >ol{margin-left: 0px auto;display: inline-block;vertical-align:top;margin-block-end: 0px;margin-block-start: 0px;padding-inline-start: 0px;margin-top: 35px;}
body >section .portfolioNav >ol >li{float: left;margin: 0 0 0 20px;cursor: pointer;}
body >section .portfolioNav >ol >li:nth-child(1){margin-left: 0;}
body >section .portfolioNav .Bar{background: #fae1e1;height: 5px;margin: 10px 0px;border-radius: 2px;}
body >section .portfolioNav .portfolioBar-inner{height: 5px;background: #cf5d5f;border-radius: 2px;transition:0.3s;}
body >section .portfolioNav .Bar.status1 .portfolioBar-inner  {width: 35px;margin-left:0px;}
body >section .portfolioNav .Bar.status2 .portfolioBar-inner {width: 45px;margin-left:50px;}
body >section .portfolioNav .Bar.status3 .portfolioBar-inner {width: 100px;margin-left:100px;}
section .portfolio .works{position: relative;height: 576px;}
section .portfolio .works > .big{position: absolute;}
section .portfolio .works > .small1{position: absolute;left: 654px;top: 0px;}
section .portfolio .works > .small2{position: absolute;left: 654px;top: 298px;}
